body {background-color:black;font-family:arial;color:white}

h1{
    color: grey;
    font-family: verdana;
    text-align: center;
    font-size: 27px;
}

.maindiv {
    background-color: white;
    color: black;
    width: 400px;
    padding: 20px;
    border-radius:25px;
    margin: auto;
}

label{
    width: 150px;
    float: left;
}


